include ../_common/_mixins

<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="viewport" content="width=1120, initial-scale=1")
	meta(name="description" content="Домашнее задание интернет магазин")
	meta(name="keywords" content="COOLTECH")
	meta(name="author" content="Рудель Алексей")
	link(rel="stylesheet", href="../css/main.min.css")
	link(rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png")
	link(rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" href="/icons/android-chrome-192x192.png" sizes="192x192")
	link(rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96")
	link(rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16")
	link(rel="manifest" href="/icons/manifest.json")
	link(rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5")
	link(rel="shortcut icon" href="/icons/favicon.ico")
	meta(name="msapplication-TileColor" content="#da532c")
	meta(name="msapplication-TileImage" content="/icons/mstile-144x144.png")
	meta(name="msapplication-config" content="/icons/browserconfig.xml")
	meta(name="theme-color" content="#ffffff")
	title
		block pageTitle
body
	.wrapper
		include ../_common/_header
		nav.nav
			.container
				+menu(['Планшеты','Мобильные телефоны','Mp3 плееры','Персональные компьютеры','Ноутбуки','Аксессуары','Бытовая техника'],2)
		.breadcrumbs
			.container
				+breadcrumbs(['Главная','Каталог'])
		section.content
			.container
				block catalogTitle
				include ../_common/_sidebar
				include ../_common/_catalog
		section.information
			.container
				include ../_common/_information
	include ../_common/_footer
	
	script(src="../js/vendor/jquery.min.js")
	script(src="../js/vendor/jquery-ui.min.js")
	script(src="../js/vendor/jquery.columnizer.min.js")
	script(src="../js/vendor/select2.min.js")
	script(src="../js/main.min.js")