.icons-sprite, .header-first .socials .socials__link_vk, .header-first .socials .socials__link_fb, .header-first .socials .socials__link_tw, .header-first .contacts .contacts__info_map-pin:before, .header-first .contacts .contacts__info_telephone:before, .catalog__view .catalog__view_list, .catalog__view .catalog__view_list:hover, .catalog__view .catalog__view__list-active, .catalog__view .catalog__view_table, .catalog__view .catalog__view_table:hover, .catalog__view .catalog__view__table-active, .catalog__view .catalog__view_slist, .catalog__view .catalog__view_slist:hover, .catalog__view .catalog__view__slist-active, .footer-right .socials__link_footer-vk, .footer-right .socials__link_footer-fb, .footer-right .socials__link_footer-tw {
  background-image: url('../img/icons-sdb1d917ca8.png');
  background-repeat: no-repeat;
}

.input-sprite, .goods-filter .goods__label_radio:before, .goods-filter .goods__label_radio:hover:before, .goods-filter .goods__label_checkbox:before, .goods-filter .goods__label_checkbox:hover:before, .goods-filter .goods__label_radio_active:before, .goods-filter .goods__label_checkbox_active:before, .goods-filter .ui-slider .ui-slider-handle {
  background-image: url('../img/input-s93e7aef562.png');
  background-repeat: no-repeat;
}

/*-------- General style --------*/
.wrapper:before, .container:before, .header-first .socials:before, .header-first .contacts:before, .header-second .search:before, .goods-filter .goods-prices:before, .catalog__view:before, .catalog__list_list-view .catalog__item__slideshow:before, .catalog__list_list-view .slideshow__display_box:before, .catalog__list_list-view .slideshow__list:before, .catalog__list_list-view .slideshow__item:before, .catalog__list_list-view .catalog__item__articul:before, .catalog__list_list-view .catalog__item__dev-desc:before, .catalog__list_list-view .catalog__item__price-box:before, .wrapper:after, .container:after, .header-first .socials:after, .header-first .contacts:after, .header-second .search:after, .goods-filter .goods-prices:after, .catalog__view:after, .catalog__list_list-view .catalog__item__slideshow:after, .catalog__list_list-view .slideshow__display_box:after, .catalog__list_list-view .slideshow__list:after, .catalog__list_list-view .slideshow__item:after, .catalog__list_list-view .catalog__item__articul:after, .catalog__list_list-view .catalog__item__dev-desc:after, .catalog__list_list-view .catalog__item__price-box:after {
  content: "";
  display: table;
}
.wrapper:after, .container:after, .header-first .socials:after, .header-first .contacts:after, .header-second .search:after, .goods-filter .goods-prices:after, .catalog__view:after, .catalog__list_list-view .catalog__item__slideshow:after, .catalog__list_list-view .slideshow__display_box:after, .catalog__list_list-view .slideshow__list:after, .catalog__list_list-view .slideshow__item:after, .catalog__list_list-view .catalog__item__articul:after, .catalog__list_list-view .catalog__item__dev-desc:after, .catalog__list_list-view .catalog__item__price-box:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 1100px;
  background-color: #f4f4f4;
}

.wrapper {
  display: table;
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}

.wrapper:after {
  content: "";
  height: 220px;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.goods-type {
  color: #333333;
  font-size: 1.25rem;
  font-family: 'open_sansbold';
  margin: 0 0 28px 0;
}

/*---------- Section style--------*/
/*------------header-first-------------*/
.header-first {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px #ebedef;
  -moz-box-shadow: 0 2px #ebedef;
  box-shadow: 0 2px #ebedef;
}
.header-first .socials {
  margin: 25px 0 27px 0;
  float: left;
}
.header-first .socials .socials__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-first .socials .socials__item {
  margin-left: 17px;
  float: left;
}
.header-first .socials .socials__item:first-child {
  margin-left: 0;
}
.header-first .socials .socials__link {
  display: block;
  height: 26px;
  width: 26px;
}
.header-first .socials .socials__link_vk {
  background-position: 0 -516px;
}
.header-first .socials .socials__link_vk:hover, .header-first .socials .socials__link_vk.vk-hover {
  background-position: 0 -490px;
}
.header-first .socials .socials__link_fb {
  background-position: 0 -26px;
}
.header-first .socials .socials__link_fb:hover, .header-first .socials .socials__link_fb.fb-hover {
  background-position: 0 0;
}
.header-first .socials .socials__link_tw {
  background-position: 0 -368px;
}
.header-first .socials .socials__link_tw:hover, .header-first .socials .socials__link_tw.tw-hover {
  background-position: 0 -342px;
}
.header-first .contacts {
  float: right;
  margin-top: 25px;
}
.header-first .contacts .contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-first .contacts .contacts__item {
  margin-left: 110px;
  float: left;
  vertical-align: middle;
}
.header-first .contacts .contacts__item:first-child {
  margin-left: 0;
}
.header-first .contacts .contacts__info {
  color: #333333;
  position: relative;
}
.header-first .contacts .contacts__info:before {
  content: "";
  height: 16px;
  width: 12px;
  position: absolute;
  top: 4px;
  right: 100%;
  margin-right: 7px;
}
.header-first .contacts .contacts__info_map-pin {
  font-family: 'open_sansregular';
  line-height: 1.71429;
  font-size: 0.875rem;
}
.header-first .contacts .contacts__info_map-pin:before {
  background-position: 0 -310px;
}
.header-first .contacts .contacts__info_telephone {
  line-height: 1.33333;
  font-family: 'open_sanssemibold';
  font-size: 1.125rem;
}
.header-first .contacts .contacts__info_telephone:before {
  background-position: 0 -326px;
}

/*------------header-second-------------*/
.header-second .logo {
  float: left;
  margin: 32px 0 24px 2px;
}
.header-second .logo .logo__text {
  position: absolute;
  left: -9999px;
}
.header-second .search {
  float: left;
  margin: 32px 0 0 57px;
}
.header-second .search .search__input {
  float: left;
  width: 288px;
  height: 34px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  background-color: #fbfbfb;
  border: solid 1px #dee1e4;
  padding: 0 18px;
  font-size: 0.875rem;
  font-family: 'open_sanssemibold';
  color: #333333;
}
.header-second .search .search__input::-webkit-input-placeholder {
  font-size: 0.875rem;
  font-family: 'open_sanslight';
  color: #7f7f7f;
  opacity: 1;
}
.header-second .search .search__input::-moz-placeholder {
  font-size: 0.875rem;
  font-family: 'open_sanslight';
  color: #7f7f7f;
  opacity: 1;
}
.header-second .search .search__input:-ms-input-placeholder {
  font-size: 0.875rem;
  font-family: 'open_sanslight';
  color: #7f7f7f;
  opacity: 1;
}
.header-second .search .search__input:focus {
  outline: none;
}
.header-second .search .search__submit {
  float: right;
  width: 79px;
  height: 34px;
  margin-left: -6px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #f60;
  /*background-image: -webkit-linear-gradient(56deg, #f60, #ff6e35 99%);
  background-image: -moz-linear-gradient(56deg, #f60, #ff6e35 99%);
  background-image: -o-linear-gradient(56deg, #f60, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #f60, #ff6e35 99%);
  background-image: linear-gradient(56deg, #f60, #ff6e35 99%);*/
  font-family: 'open_sanssemibold';
  font-size: 1rem;
  color: #ffffff;
  border-width: 0;
}
.header-second .search .search__submit:hover {
  background-color: #ff8533;
}
.header-second .site-section {
  margin-top: 38px;
}
.header-second .site-section .site-section__list {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-second .site-section .site-section__item {
  float: left;
  margin-left: 34px;
}
.header-second .site-section .site-section__item:first-child {
  margin-left: 0;
}
.header-second .site-section .site-section__link {
  color: #333333;
  font-family: 'open_sanssemibold';
  font-size: 1rem;
}
.header-second .site-section .site-section__link:hover {
  color: #ff6600;
}

.nav {
  margin-bottom: 28px;
  background-color: #ffffff;
}
.nav .nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  left: 50%;
}
.nav .nav__item {
  cursor: pointer;
  padding: 16px 14px;
  float: left;
  position: relative;
  left: -50%;
}
.nav .nav__item .nav__link {
  font-family: 'open_sansregular';
  font-size: 1rem;
  color: #333333;
  text-decoration: none;
}
.nav .nav__item:hover {
  background-color: #e4e2e2;
}
.nav .nav__item_active {
  background-color: #ff6707;
}
.nav .nav__item_active .nav__link {
  font-family: 'open_sanssemibold';
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
.nav .nav__item_active:hover .nav__link {
  color: #333333;
}

/*--------------- breadcrumbs ------------*/
.breadcrumbs {
  margin-bottom: 20px;
}
.breadcrumbs .breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs .breadcrumbs__item {
  float: left;
}
.breadcrumbs .breadcrumbs__item .breadcrumbs__link {
  font-size: 0.875rem;
  font-family: 'open_sansregular';
  color: #333333;
  text-decoration: none;
}
.breadcrumbs .breadcrumbs__item .breadcrumbs__link:hover {
  text-decoration: underline;
}
.breadcrumbs .breadcrumbs__item .breadcrumbs__link:after {
  margin: 0 4px;
  content: ">";
}
.breadcrumbs .breadcrumbs__item_active .breadcrumbs__link {
  color: #ff6600;
  text-decoration: underline;
}
.breadcrumbs .breadcrumbs__item_active .breadcrumbs__link:after {
  content: "";
}

.filter {
  float: left;
  width: 333px;
}

.type-goods {
  margin-bottom: 38px;
}
.type-goods .type-goods__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #dee1e4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.type-goods .type-goods__item {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #dee1e4;
}
.type-goods .type-goods__item:first-child .type-goods__link {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.type-goods .type-goods__item:last-child {
  border-width: 0px;
}
.type-goods .type-goods__item:last-child .type-goods__link {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.type-goods .type-goods__link {
  word-wrap: break-word;
  padding: 13px 30px;
  font-family: 'open_sansregular';
  font-size: 0.875rem;
  color: #7f7f7f;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  background-color: #fbfbfb;
}
.type-goods .type-goods__link_active {
  color: #5d656c;
  background-color: #d9e5ea;
}

.goods-filter {
  /*------------------------- slider range----------------------*/
  /* --------------------- end slider range----------------------*/
}
.goods-filter .goods-availability, .goods-filter .goods-brands, .goods-filter .goods-colors, .goods-filter .goods-prices, .goods-filter .goods-prices, .goods-filter .goods-op-sys {
  border-width: 0;
  padding: 0;
  margin: 1px 29px 20px 59px;
}
.goods-filter .goods-prices {
  margin: 1px 29px 20px 7px;
  width: 240px;
}
.goods-filter .goods-colors {
  margin: 1px 29px 0 7px;
  width: 240px;
}
.goods-filter .goods-brands__input, .goods-filter .goods-availability__input, .goods-filter .goods-op-sys__input {
  display: none;
}
.goods-filter .goods__trigger {
  text-decoration: none;
  word-wrap: break-word;
  padding: 13px 28px 12px 28px;
  font-family: 'open_sanssemibold';
  color: #333333;
  display: inline-block;
  width: 100%;
  background-color: #fbfbfb;
}
.goods-filter .goods-brands__reset, .goods-filter .goods-op-sys__reset {
  color: #5db2fc;
  font-size: 0.875rem;
  font-family: 'open_sansregular';
  display: block;
  margin-top: 14px;
  margin-left: -29px;
}
.goods-filter .goods-brands__reset:hover, .goods-filter .goods-op-sys__reset:hover {
  color: #8fcafd;
}
.goods-filter .goods__label_radio, .goods-filter .goods__label_checkbox {
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  font-family: 'open_sansregular';
  color: #333333;
  position: relative;
  margin-bottom: 18px;
}
.goods-filter .goods__label_radio:last-of-type, .goods-filter .goods__label_checkbox:last-of-type {
  margin-bottom: 0;
}
.goods-filter .goods__label_radio:before {
  content: "";
  background-position: 0 -550px;
  height: 19px;
  width: 19px;
  position: absolute;
  right: 100%;
  margin-right: 10px;
}
.goods-filter .goods__label_radio:before:hover, .goods-filter .goods__label_radio:before.radio-hover {
  background-position: 0 -531px;
}
.goods-filter .goods__label_radio:before:active, .goods-filter .goods__label_radio:before.radio-active {
  background-position: 0 -512px;
}
.goods-filter .goods__label_radio:hover:before {
  background-position: 0 -531px;
}
.goods-filter .goods__label_checkbox:before {
  content: "";
  background-position: 0 -38px;
  height: 19px;
  width: 19px;
  position: absolute;
  right: 100%;
  margin-right: 10px;
}
.goods-filter .goods__label_checkbox:before:hover, .goods-filter .goods__label_checkbox:before.checkbox-hover {
  background-position: 0 -19px;
}
.goods-filter .goods__label_checkbox:before:active, .goods-filter .goods__label_checkbox:before.checkbox-active {
  background-position: 0 0;
}
.goods-filter .goods__label_checkbox:hover:before {
  background-position: 0 -19px;
}
.goods-filter .goods__label_radio_active:before {
  background-position: 0 -512px;
}
.goods-filter .goods__label_checkbox_active:before {
  background-position: 0 0;
}
.goods-filter .goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #dee1e4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fbfbfb;
}
.goods-filter .goods__item {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #dee1e4;
  font-size: 1rem;
}
.goods-filter .goods__item:first-child {
  border-width: 0 0 1px 0;
}
.goods-filter .goods__item:first-child .goods__trigger {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.goods-filter .goods__item:last-child {
  border-width: 0px;
}
.goods-filter .goods__item:last-child .goods__trigger {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.goods-filter .goods-prices {
  margin-left: 29px;
}
.goods-filter .goods__label_price {
  font-family: 'open_sanssemibold';
  font-size: 0.875rem;
}
.goods-filter .goods-prices__min {
  float: left;
}
.goods-filter .goods-prices__max {
  float: right;
}
.goods-filter .goods-prices__input {
  margin-bottom: 18px;
  margin-left: 10px;
  font-family: 'open_sanssemibold';
  font-size: 0.875rem;
  padding: 4px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(148, 148, 148, 0.43);
  -moz-box-shadow: inset 0 1px 1px rgba(148, 148, 148, 0.43);
  box-shadow: inset 0 1px 1px rgba(148, 148, 148, 0.43);
  border: solid 1px #ebedef;
  width: 82px;
  background-color: white;
}
.goods-filter .goods-prices__slider-range {
  margin-top: 48px;
  margin-bottom: 12px;
}
.goods-filter .ui-slider {
  position: relative;
  text-align: left;
}
.goods-filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 8px;
  height: 14px;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  background-position: 0 -580px;
  margin-left: -4px;
}
.goods-filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.goods-filter .ui-slider-horizontal .ui-slider-range {
  background-color: #ff6600;
  top: 0;
  height: 100%;
}
.goods-filter .ui-widget {
  width: 273px;
  height: 3px;
  background-color: #dee1e4;
}
.goods-filter .goods-colors__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.goods-filter .box-white {
  background-color: #ffffff;
}
.goods-filter .box-silver {
  background-color: #cccccc;
}
.goods-filter .box-black {
  background-color: #000000;
}
.goods-filter .box-blue {
  background-color: #0a3153;
}
.goods-filter .box-red {
  background-color: #ff1800;
}
.goods-filter .box-yellow {
  background-color: #fff343;
}
.goods-filter .box-orange {
  background-color: #fb914a;
}
.goods-filter .box-green {
  background-color: #92c37c;
}
.goods-filter .box-lightblue {
  background-color: #40a6ff;
}
.goods-filter .box-magenta {
  background-color: #9870ad;
}
.goods-filter .box-pink {
  background-color: #dc78ad;
}
.goods-filter .box-brown {
  background-color: #7f401d;
}
.goods-filter .goods-colors__box {
  float: left;
  margin: 1px 0 22px 23px;
  height: 36px;
  width: 36px;
  display: block;
  border: solid 1px #dee1e4;
}
.goods-filter .goods-colors__box:hover {
  -webkit-box-shadow: 0px 0px 3px 2px #ff6600;
  -moz-box-shadow: 0px 0px 3px 2px #ff6600;
  box-shadow: 0px 0px 3px 2px #ff6600;
}
.goods-filter .goods-colors__box_active {
  -webkit-box-shadow: 0px 0px 3px 3px #ff6600;
  -moz-box-shadow: 0px 0px 3px 3px #ff6600;
  box-shadow: 0px 0px 3px 3px #ff6600;
}

.information {
  margin-bottom: 10px;
}
.information .information__caption {
  font-family: 'open_sansbold';
  line-height: 1;
  font-size: 1.25rem;
  color: #333333;
  margin-top: 0;
  margin-bottom: 21px;
}
.information .information__columnize .first {
  padding-right: 20px;
}
.information .information__columnize .last {
  padding-left: 20px;
}
.information .information__paragraf {
  margin-top: 0;
  margin-bottom: 20px;
  text-indent: 37px;
  font-family: 'open_sansregular';
  line-height: 1.45;
  font-size: 0.875rem;
  color: #333333;
  text-align: justify;
}

/*----------------------------- main content------------------------------*/
.catalog {
  float: right;
  width: 743px;
}

.catalog__view {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(217, 229, 234, 0.6);
  border: solid 1px #dee1e4;
  margin-bottom: 20px;
}
.catalog__view .catalog__view_sort, .catalog__view .catalog__view_show-style {
  margin: 0;
  padding: 0;
  border-width: 0;
}
.catalog__view .catalog__view_sort {
  float: left;
  margin-top: 10px;
}
.catalog__view .catalog__view_select {
  width: 140px;
}
.catalog__view .catalog__view_show-style {
  float: right;
}
.catalog__view .catalog__view_label-sort, .catalog__view .catalog__view_label-style {
  color: #5d656c;
  font-family: 'open_sansregular';
  font-size: 0.875rem;
}
.catalog__view .catalog__view_label-sort {
  margin-left: 20px;
  margin-right: 8px;
}
.catalog__view .catalog__view_label-style {
  margin-right: 12px;
}
.catalog__view .select2-container--default {
  color: #7f7f7f;
  font-family: 'open_sansregular';
  font-size: 0.875rem;
}
.catalog__view .catalog__view_box {
  border-color: #dee1e4;
  border-style: solid;
  border-width: 0 0 0 1px;
  display: inline-block;
}
.catalog__view .catalog__view_list, .catalog__view .catalog__view_table, .catalog__view .catalog__view_slist {
  height: 16px;
  width: 16px;
  border-width: 0;
  margin: 19px 16px 16px 16px;
}
.catalog__view .catalog__view_list {
  background-position: 0 -410px;
}
.catalog__view .catalog__view_list:hover, .catalog__view .catalog__view_list.view-list-hover {
  background-position: 0 -394px;
}
.catalog__view .catalog__view_list:hover {
  background-position: 0 -394px;
}
.catalog__view .catalog__view__list-active {
  background-position: 0 -394px;
}
.catalog__view .catalog__view_table {
  background-position: 0 -474px;
}
.catalog__view .catalog__view_table:hover, .catalog__view .catalog__view_table.view-thumbnail-hover {
  background-position: 0 -458px;
}
.catalog__view .catalog__view_table:hover {
  background-position: 0 -458px;
}
.catalog__view .catalog__view__table-active {
  background-position: 0 -394px;
}
.catalog__view .catalog__view_slist {
  background-position: 0 -442px;
}
.catalog__view .catalog__view_slist:hover, .catalog__view .catalog__view_slist.view-simplelist-hover {
  background-position: 0 -426px;
}
.catalog__view .catalog__view_slist:hover {
  background-position: 0 -426px;
}
.catalog__view .catalog__view__slist-active {
  background-position: 0 -394px;
}

.catalog__list_list-view {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__list_list-view .catalog__item {
  background-color: #fbfbfb;
  padding: 18px 22px;
}
.catalog__list_list-view .catalog__item__slideshow {
  display: inline-block;
  width: 136px;
}
.catalog__list_list-view .slideshow__display_box {
  text-align: center;
  border-width: 1px;
  border-color: #dee1e4;
  border-style: solid;
  border-radius: 2px;
  background-color: white;
  width: 134px;
  height: 134px;
  padding-top: 5px;
  margin-bottom: 15px;
}
.catalog__list_list-view .slideshow__list {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  display: block;
}
.catalog__list_list-view .slideshow__item {
  border-width: 1px;
  border-color: #dee1e4;
  border-style: solid;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 19px;
}
.catalog__list_list-view .slideshow__item:last-child {
  margin-right: 0;
}
.catalog__list_list-view .slideshow__item_active {
  border-color: #ff6600;
  border-style: solid;
}
.catalog__list_list-view .catalog__item__articul {
  display: block;
  text-align: center;
}
.catalog__list_list-view .catalog__item__articul_name, .catalog__list_list-view .catalog__item__articul_txt {
  font-family: 'open_sanssemibold';
  display: inline-block;
  margin: 0;
}
.catalog__list_list-view .catalog__item__articul_name {
  font-size: 0.75rem;
}
.catalog__list_list-view .catalog__item__articul_txt {
  font-size: 0.875rem;
}
.catalog__list_list-view .catalog__item__name {
  font-family: 'open_sanssemibold';
  font-size: 1rem;
  margin-bottom: 25px;
}
.catalog__list_list-view .catalog__item__dev-desc {
  vertical-align: top;
  margin-left: 25px;
  width: 400px;
  display: inline-block;
}
.catalog__list_list-view .catalog__item__options {
  display: none;
  width: 234px;
}
.catalog__list_list-view .catalog__item__option_str {
  font-family: 'open_sanssemibold';
  font-size: 0.875rem;
  display: inline-block;
}
.catalog__list_list-view .strLeft {
  float: left;
}
.catalog__list_list-view .strRight {
  float: right;
}
.catalog__list_list-view .catalog__item__describle {
  font-family: 'open_sanssemibold';
  font-size: 0.875rem;
  display: inline-block;
}
.catalog__list_list-view .catalog__item__price-box {
  padding: 8px 0 0 24px;
  border-color: #dee1e4;
  border-style: solid;
  border-width: 0 0 0 1px;
  vertical-align: top;
  display: inline-block;
}
.catalog__list_list-view .catalog__item__price {
  font-family: 'open_sanssemibold';
  font-size: 1.25rem;
}
.catalog__list_list-view .catalog__item__buy-btn {
  width: 103px;
  height: 33px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 0;
  background-color: #f60;
  background-image: -webkit-linear-gradient(56deg, #f60, #ff6e35 99%);
  background-image: -moz-linear-gradient(56deg, #f60, #ff6e35 99%);
  background-image: -o-linear-gradient(56deg, #f60, #ff6e35 99%);
  background-image: -ms-linear-gradient(56deg, #f60, #ff6e35 99%);
  background-image: linear-gradient(56deg, #ff6600, #ff6e35 99%);
  color: white;
  font-family: 'open_sansbold';
  font-size: 0.875rem;
}
.catalog__list_list-view .catalog__item__instock_cirle {
  background-color: #60ac49;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 7px;
  width: 7px;
}

/*---------------- footer ------------------*/
.footer {
  width: 100%;
  height: 220px;
  margin-top: -220px;
  position: relative;
  background-image: url(../img/footer-bg-v2.png);
  background-repeat: repeat-x;
}

.footer-left {
  float: left;
  margin-top: 70px;
  margin-bottom: 82px;
  display: inline-block;
}

.footer-right {
  float: right;
  display: inline-block;
}
.footer-right .socials__list {
  list-style: none;
  margin: 35px 5px 22px 0;
  float: right;
  padding: 0;
}
.footer-right .socials__item {
  margin-left: 27px;
  float: left;
}
.footer-right .socials__item:first-child {
  margin-left: 0;
}
.footer-right .socials__link {
  display: block;
  height: 43px;
  width: 43px;
}
.footer-right .socials__link_footer-vk {
  background-position: 0 -267px;
}
.footer-right .socials__link_footer-vk:hover, .footer-right .socials__link_footer-vk.footer-vk-hover {
  background-position: 0 -224px;
}
.footer-right .socials__link_footer-fb {
  background-position: 0 -95px;
}
.footer-right .socials__link_footer-fb:hover, .footer-right .socials__link_footer-fb.footer-fb-hover {
  background-position: 0 -52px;
}
.footer-right .socials__link_footer-tw {
  background-position: 0 -181px;
}
.footer-right .socials__link_footer-tw:hover, .footer-right .socials__link_footer-tw.footer-tw-hover {
  background-position: 0 -138px;
}
.footer-right .footer-menu {
  float: right;
  width: 570px;
}
.footer-right .footer-menu .footer-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.footer-right .footer-menu .footer-menu__item {
  margin-left: 26px;
  float: left;
}
.footer-right .footer-menu .footer-menu__link {
  font-family: 'open_sansregular';
  color: #ffffff;
  line-height: 2.57143;
  font-size: 0.875rem;
}

.footer-copyrights {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  line-height: 2.33333;
  font-size: 0.75rem;
  font-family: 'open_sansregular';
  border-top: #494949 1px solid;
}
