include _common/_mixins

<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="viewport" content="width=1230, initial-scale=1")
	meta(name="description" content="Домашнее задание интернет магазин")
	meta(name="keywords" content="COOLTECH")
	meta(name="author" content="Рудель Алексей")
	link(rel="stylesheet", href="../css/main.css")
	title
		block pageTitle
body
	.wrapper
		.maincontent
			include _common/_header
			+breadcrumbs(['Главная','Каталог'])
			section.content
				.container
					block catalogTitle
					include _common/_sidebar
					include _common/_catalog
			section.important-information
				.container
					include _common/_information
	include _common/_footer