footer.footer
	.footer-right
		a(href="/").logo
	.footer-left
		+socials(['fb','vk','tw'])
		+footer-menu(['Планшеты','Мобильные телефоны','Mp3 плееры','Персональные компьютеры','Ноутбуки','Аксессуары','Бытовая техника'])
	.footer-copyrights All rights reserved. 2015. no copy alowed