header.header-first
	.container
		.socials
			+socials(['fb','vk','tw'])
		
		.contacts
			ul.contacts__list
				li.contacts__item
					span.contacts__info(class='contacts__info_map-pin') ул.Маяковская 6, офис 17
				li.contacts__item
					a.contacts__info(href='tel:+79211231213' class='contacts__info_telephone') +7 (921) 123-12-13

header.header-second
	.container
		a(href="/").logo
			img(src="../img/logo.png", alt="COOLTECH")
			h1.logo__text Интернет магазин COOLTECH
		form.search
			input(name="search__input" type="text" placeholder="Что будем искать").search__input
			input(name="search__submit" type="submit" value="Найти").search__submit
		.site-section
			ul.site-section__list
				- var siteSection=['Карта проезда','История заказов','Корзина'];
				each item in siteSection
					li.site-section__item
						a(href="#").site-section__link= item
