aside.filter
	.type-goods
		ul.type-goods__list
			- var goodsItems = ['Флагманы','Бюджетная линейка'];
			each item in goodsItems
				li.type-goods__item
					a(href="#" class="").type-goods__link= item
	.goods
		form.goods-filter
			ul.goods__list
				li.goods__item
					a(href="#").goods__trigger Наличие в магазинах
					fieldset.goods-availability
						input(name="availability" id="radio-all" type="radio" value="Во всех магазинах" checked).goods-availability__input
						label(for="radio-all").goods__label_radio Во всех магазинах
						input(name="availability" id="radio-nearest" type="radio" value="В ближайшем ко мне магазине").goods-availability__input
						label(for="radio-nearest").goods__label_radio В ближайшем ко мне магазине
				li.goods__item
					a(href="#").goods__trigger Бренды
					+goods-brands(['Apple','Asus','Lenovo','Motorola','Samsung'])
				li.goods__item
					a(href="#").goods__trigger Цена
					fieldset.goods-prices
						.goods-prices__min
							label(for="goods-prices__min").goods__label_price от
							input(name="goods-prices__min" id="goods-prices__min" type="text" value="100").goods-prices__input
						.goods-prices__max
							label(for="goods-prices__max").goods__label_price до
							input(name="goods-prices__max" id="goods-prices__max" type="text" value="13000").goods-prices__input
						.goods-prices__slider-range(id='slider-range')
				li.goods__item
					a(href="#").goods__trigger Цвет
					- var colorsItems = {white:'Белый',silver:'Серый',black:'Черный',blue:'Темно-синий',red:'Красный',yellow:'Желтый',orange:'Оранжевый',green:'Зеленый',lightblue:'Голубой',magenta:'Фиолетовый',pink:'Розовый',brown:'Коричневый'};
					+goods-colors(colorsItems)
				li.goods__item
					a(href="#").goods__trigger Операционные системы
					+goods-op-sys(['Android','iOS','Windows Mobile','Symbian','Custom'])