/*----------------------------- main content------------------------------*/
.catalog{
	float: right;
	width: 743px;
}

/*----------------------------- Catalog View type-----------------------------*/
.catalog__view{
	@extend %clearfix;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(217,229,234,.6);
	border: solid 1px #dee1e4;
	margin-bottom: 20px;

	.catalog__view_sort, .catalog__view_show-style{
		margin: 0;
		padding: 0;
		border-width: 0;
	}

	.catalog__view_sort{
		float: left;
		margin-top: 10px;
	}

	.catalog__view_select{
		width: 140px;
	}

	.catalog__view_show-style{
		float: right;
	}	

	.catalog__view_label-sort, .catalog__view_label-style{	
		color: #5d656c;
		font-family: 'open_sansregular';
		font-size: 0.875rem;
	}

	.catalog__view_label-sort{
		float: left;
		margin: 5px 8px 5px 20px;
	}

	.catalog__view_label-style{
		float: left;
		margin-right: 16px;
		margin-top: 16px;
	}

	.select2-container--default{
		color:#7f7f7f;
		font-family: 'open_sansregular';
		font-size: 0.875rem;
	}

	.catalog__view_box{
		border-color: #dee1e4;
		border-style: solid;
		border-width: 0 0 0 1px;
		display: inline-block;
	}

	.catalog__view_list, .catalog__view_table, .catalog__view_slist{
		height: 16px;
		width: 16px;
		border-width: 0;
		margin: 19px 16px 16px 16px;
	}

	.catalog__view_list{
		outline: none;
		@include sprites-sprite('view-list');
		&:hover{
			@include sprites-sprite('view-list-hover');
		}
		&.active{
			@include sprites-sprite('view-list-hover');
		}
	}

	

	.catalog__view_table{
		outline: none;
		@include sprites-sprite('view-thumbnail');
		&:hover{
			@include sprites-sprite('view-thumbnail-hover');
		}
		&.active{
			@include sprites-sprite('view-thumbnail-hover');
		}
	}

	.catalog__view_slist{
		outline: none;
		@include sprites-sprite('view-simplelist');
		&:hover{
			@include sprites-sprite('view-simplelist-hover');
		}
		&.active{
			@include sprites-sprite('view-simplelist-hover');
		}
	}

}

/*----------------------------- End Catalog View type -----------------------------*/

/*----------------------------- Catalog type = view-list -----------------------------*/
.catalog__list_view-list{
	margin: 0 0 66px 0;
	padding: 0;
	list-style: none;
	border-radius: 5px;

	.catalog__item{
		background-color: #fbfbfb;
		padding: 21px 23px 15px 23px;
		border-style: solid;
		border-width: 1px 1px 0 1px;
		border-color: rgb(222, 225, 228);
		&:hover{
			background-color: rgb(251, 251, 251);
			box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
		}
		&:first-child{
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}
		&:last-child{
			border-width: 1px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}

	.catalog__item__slideshow{
		@extend %clearfix;
		display: inline-block;
		width: 136px;
	}

	.slideshow__display_box{
		text-align: center;
		border-width: 1px;
		border-color: rgb(222, 225, 228);
		border-style: solid;
		border-radius: 2px;
		background-color: rgb(255, 255, 255);
		width: 134px;
		height: 134px;
		padding-top: 4px; 
		margin-bottom: 17px;
		@extend %clearfix;
	}

	.slideshow__list{
		margin: 0 0 8px 0;
		padding: 0;
		list-style: none;
		display: block;
		@extend %clearfix;
	}

	.slideshow__item{
		@extend %clearfix;
		border-width: 1px;
		border-color: rgb(222, 225, 228);
		border-style: solid;
		border-radius: 2px;
		background-color: rgb(255, 255, 255);
		text-align: center;
		width: 32px;
		height: 32px;
		float: left;
		margin-right: 19px;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			border-color: rgb(255, 102, 0);
			border-style: solid;
		}
	}

	.catalog__item__articul{
		@extend %clearfix;
		display: block;
		text-align: center;
	}

	.catalog__item__articul_name, .catalog__item__articul_txt{
		font-family: 'open_sanssemibold';
		display: inline-block;
		margin: 0;
	}

	.catalog__item__articul_name{
		font-size: 0.75rem;
	}

	.catalog__item__articul_txt{
		font-size: 0.875rem;
	}

	.catalog__item__name{
		font-family: 'open_sanssemibold';
		font-size: 1rem;
		margin-bottom: 20px;
	}

	.catalog__item__dev-desc{
		vertical-align: top;
		margin-left: 20px;
		margin-top: 4px;
		width: 400px;
		display: inline-block;
		@extend %clearfix;
	}
	
	.options__list{
		display: none;
	}

	.catalog__item__describle{
		font-family: 'open_sanssemibold';
		font-size: 0.875rem;
		display: inline-block;
		margin-bottom: 20px;
	}

	.fa-star-o:before{
		color: #96a1af;
		font-size: 1rem;
		margin-right: 5px;
	}

	.fa-star:before{
		color: #cb1012;
		font-size: 1rem;
		margin-right: 5px;
	}

	.catalog__item__rating_status{
		display: inline-block;
		font-size: 0.73875rem;
		color: white;
		border-radius: 7px;
		background-color: rgb(181, 190, 202);
		width: 28px;
		height: 15px;
		font-family: 'open_sanssemibold';
		text-align: center;
		margin-left: 5px;
	}

	.catalog__item__price-wrapper{
		padding: 0 0 0 24px;
		border-color: #dee1e4;
		border-style: solid;
		border-width: 0 0 0 1px;
		vertical-align: top;
		display: inline-block;
		@extend %clearfix;
	}

	.catalog__item__price{
		font-family: 'open_sanssemibold';
		font-size: 1.25rem;
		display: inline-block;
		margin: 2px 0 0 24px
	}

	.catalog__item__price_rouble{
		margin-left: 4px;
		display: inline-block;
		font-size: 1.25rem;
	}

	.catalog__item__buy{
		margin-top: 124px;
		margin-bottom: 4px;
	}

	.catalog__item__buy-btn{
		width: 103px;
		height: 33px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border-width: 0;
		background-color: #f60;
		color: white;
		font-family: 'open_sansbold';
		font-size: 0.875rem;
	}

	.catalog__item__buy-btn:hover{
		background-color: lighten(#f60, 10%);
	}

	.catalog__item__instock_cirle{
		background-color: #60ac49;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		height: 7px;
		width: 7px;
		margin: 0 0 1px 20px;
		display: inline-block;
	}

	.catalog__item__instock_txt{
		font-size: 0.75rem;
		font-family: 'open_sansbold';
		color: #7f7f7f;
		display: inline-block;
		margin-left: 33px;
		position: relative;
		&:before{
			content: "";
			background-color: #60ac49;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			height: 7px;
			width: 7px;
			position: absolute;
    		top: 5px;
    		right: 100%;
   			margin-right: 6px;
		}
	}

}
/*---------------------------End Catalog type = view-list -----------*/

/*----------------------------- Catalog type = view-table -----------------------------*/
.catalog__list_view-table{
	margin: -19px 0 66px -19px;
	padding: 0;
	list-style: none;
	border-radius: 5px;
	text-align: justify;
	@extend %clearfix;

	.catalog__item{
		width: 235px;
		float: left;
		margin: 19px 0 0 19px;
		background-color: #fbfbfb;
		padding: 21px 10px 19px 10px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(222, 225, 228);
		border-radius: 5px;
		text-align: center;
		&:hover{
			background-color: rgb(251, 251, 251);
			box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
		}
	}

	.catalog__item__slideshow{
		@extend %clearfix;
		display: inline-block;
		width: 136px;
	}

	.slideshow__display_box{
		text-align: center;
		border-width: 1px;
		border-color: rgb(222, 225, 228);
		border-style: solid;
		border-radius: 2px;
		background-color: rgb(255, 255, 255);
		width: 134px;
		height: 134px;
		padding-top: 4px; 
		margin-bottom: 17px;
		@extend %clearfix;
	}

	.slideshow__list{
		margin: 0 0 8px 0;
		padding: 0;
		list-style: none;
		display: block;
		@extend %clearfix;
	}

	.slideshow__item{
		@extend %clearfix;
		border-width: 1px;
		border-color: rgb(222, 225, 228);
		border-style: solid;
		border-radius: 2px;
		background-color: rgb(255, 255, 255);
		text-align: center;
		width: 32px;
		height: 32px;
		float: left;
		margin-right: 19px;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			border-color: rgb(255, 102, 0);
			border-style: solid;
		}
	}

	.catalog__item__articul{
		display: none;
	}

	.catalog__item__name{
		font-family: 'open_sanssemibold';
		font-size: 0.875rem;
		line-height: 1.42857;
		margin-bottom: 20px;
	}

	.catalog__item__dev-desc{
		vertical-align: top;
		margin-top: 5px;
		@extend %clearfix;
	}
	
	.options__list{
		list-style: none;
		margin: 0 0 10px 0;
		padding: 0;
	}
	
	.options__item{
		@extend %clearfix;
	}
	
	.options__item:nth-child(odd){
		background-color: #e6e6e6;
	}

	.option_str-Left, .option_str-Right{
		font-family: 'open_sanssemibold';
		font-size: 0.875rem;
		display: inline-block;
	}

	.option_str-Left{
		float: left;
		padding: 1px 2px 0 2px;
	}

	.option_str-Right{
		float: right;
		padding: 1px 2px 0 2px;
	}

	.catalog__item__describle{
		display: none;
	}

	.fa-star-o:before{
		color: #96a1af;
		font-size: 1rem;
		margin-right: 5px;
	}

	.fa-star:before{
		color: #cb1012;
		font-size: 1rem;
		margin-right: 5px;
	}

	.catalog__item__rating_status{
		display: inline-block;
		font-size: 0.73875rem;
		color: white;
		border-radius: 7px;
		background-color: rgb(181, 190, 202);
		width: 28px;
		height: 15px;
		font-family: 'open_sanssemibold';
		text-align: center;
		margin-left: 5px;
	}

	.catalog__item__price-wrapper{
		// float: right !important;
		// display: inline-block;
		@extend %clearfix;


		// padding: 0 0 0 24px;
		// border-color: #dee1e4;
		// border-style: solid;
		// border-width: 0 0 0 1px;
		// vertical-align: top;
		display: block;
		// @extend %clearfix;
	}

	.catalog__item__price{
		font-family: 'open_sanssemibold';
		font-size: 1.25rem;
		display: inline-block;
		margin: 6px 0 0 -4px
	}

	.catalog__item__price_rouble{
		margin-left: 4px;
		display: inline-block;
		font-size: 1.125rem;
	}

	.catalog__item__buy-btn{
		margin: 1px 1px 0 0;
		float: right;
		width: 103px;
		height: 33px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border-width: 0;
		background-color: #f60;
		color: white;
		font-family: 'open_sansbold';
		font-size: 0.875rem;
	}

	.catalog__item__buy-btn:hover{
		background-color: lighten(#f60, 10%);
	}

	.catalog__item__instock_txt{
		float: left;
		font-size: 0.75rem;
		font-family: 'open_sansbold';
		color: #7f7f7f;
		display: inline-block;
		margin-left: 24px;
		margin-top: 8px;
		position: relative;
		&:before{
			content: "";
			background-color: #60ac49;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			height: 7px;
			width: 7px;
			position: absolute;
    		top: 5px;
    		right: 100%;
   			margin-right: 6px;
		}
	}
}
/*---------------------------End Catalog type = view-table -----------*/

/*----------------------------- Catalog type = view-slist -----------------------------*/
.catalog__list_view-slist{
	margin: 0 0 66px 0;
	padding: 0;
	list-style: none;
	border-radius: 5px;
	@extend %clearfix;

	.catalog__item{
		@extend %clearfix;
		background-color: #fbfbfb;
		padding: 10px 12px 7px 12px;
		border-style: solid;
		border-width: 0 1px 1px 1px;
		border-color: rgb(222, 225, 228);
		&:hover{
			background-color: rgb(251, 251, 251);
			box-shadow: 0px 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);
		}
		&:first-child{
			border-width: 1px;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}
		&:last-child{
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}

	.catalog__item__slideshow{
		@extend %clearfix;
		margin: 7px 0;
		float: left;
	}

	.slideshow__display_box{
		display: none;
	}

	.slideshow__list{
		display: none;
	}

	.catalog__item__articul{
		@extend %clearfix;
		display: block;
	}

	.catalog__item__articul_name, .catalog__item__articul_txt{
		font-family: 'open_sanssemibold';
		display: inline-block;
		margin: 0;
	}

	.catalog__item__articul_name{
		font-size: 0.75rem;
	}

	.catalog__item__articul_txt{
		font-size: 0.875rem;
	}

	.catalog__item__name{
		display: none;
	}

	.catalog__item__dev-desc{
		margin-top: 7px;
		margin-left: 12px;
		float: left;
		@extend %clearfix;
	}
	
	.options__list{
		display: none;
	}

	.catalog__item__describle{
		font-family: 'open_sanssemibold';
		width: 290px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 0.875rem;
		display: inline-block;
	}

	.catalog__item__rating{
		display: none;
	}

	.catalog__item__price-wrapper{
		float: right !important;
		display: inline-block !important;
		@extend %clearfix;
	}

	.catalog__item__price{
		font-family: 'open_sanssemibold';
		font-size: 1.125rem;
		display: inline-block;
		margin: 4px 0 0 8px;
		float: left !important;
	}

	.catalog__item__price_rouble{
		margin-left: 4px;
		margin-top: 9px;
		display: inline-block;
		font-size: 1.125rem;
		float: left !important;
	}

	.catalog__item__buy{
		float: right !important;
	}

	.catalog__item__buy-btn{
		margin-left: 20px; 
		width: 103px;
		height: 33px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border-width: 0;
		background-color: #f60;
		color: white;
		font-family: 'open_sansbold';
		font-size: 0.875rem;
	}

	.catalog__item__buy-btn:hover{
		background-color: lighten(#f60, 10%);
	}

	.catalog__item__instock{
		margin: 7px 0 7px 36px;
		float: left !important;
	}

	.catalog__item__instock_txt{
		
		font-size: 0.75rem;
		font-family: 'open_sansbold';
		color: #7f7f7f;
		display: inline-block;
		position: relative;
		&:before{
			content: "";
			background-color: #60ac49;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			height: 7px;
			width: 7px;
			position: absolute;
    		top: 5px;
    		right: 100%;
   			margin-right: 6px;
		}
	}
}
/*---------------------------End Catalog type = view-slist -----------*/



/*-------------------------------Page selector-------------------*/
.catalog__item__pages{
	float: right;
}

.catalog__pages{
	font-size: 0.75rem;
	font-family: 'open_sansbold';
	color: rgb(127, 127, 127);
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
	border-width: 1px;
	border-color: #dee1e4;
	border-style: solid;
	border-radius: 3px;
	background-color: #fdfdfd;
	display: inline-block;
	width: 24px;
	height: 24px;
	&:hover{
		background-color: #fefefe;
		border-color: #b4b4b4;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),inset 0px 1px 0px 1px rgba(255, 255, 255, 0.004);
	}
}

.catalog__page-active{
	background-color: #e0e0e0;
	border-color: #b4b4b4;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.catalog__page-previous-icon{
	@include sprites-sprite('previous-arrow');
	display: inline-block;
	height: 9px;
	width: 6px;
	
}

.catalog__page-next-icon{
	@include sprites-sprite('next-arrow');
	display: inline-block;
	height: 9px;
	width: 6px;
}
/*-------------------------Page selector end-------------------*/